html, body {

    margin: 0;
    height: 90vh;
    overflow: none;
    font-family: Consolas, Arial, Helvetica, sans-serif;

    color: antiquewhite;
    background-color: #252550;

}

.page-title {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5vh;

}

.page-title .title {

    font-size: 2.2rem;
    margin-bottom: 2vh;

}

.page-title .subtitle {

    font-style: italic;

}

.game-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;

}

#game {

    border: solid #f4e4e4 1px;

}

#score, #best-score {

    margin: 0;
    font-size: 1.4rem;

}

.gamesprites {

    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    gap: 3.5vh;
    align-items: center;
    height: 80vh;

}

.gamesprites .title {

    font-size: 1.6rem;

}

.sprites {

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2vw;

}

.sprites img {

    width: calc(37px * 3);
    height: calc(37px * 3);
    image-rendering: pixelated;

}